*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url(../Day-Planner/images/floor-tile/floor-tile/floor-tile.png);
}

.saveBtn {
    border: 1px solid black;
}

.container {
    margin: 20px auto;
}