*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url(../Day-Planner/images/floor-tile/floor-tile/floor-tile.png);
}

.saveBtn {
    border: 1px solid black;
    background-color: gold;
}

.container {
    margin: 20px auto;
}

.jumbotron {
    background-color: cadetblue;
}

.display-3 {
    text-align: center;
}

.lead {
    text-align: center;
}

.time {
    padding: 35px 10px;
}

.currentTime {
    text-align: center;
}

.col-md-1 {
    border: 1px black solid;
    background-color: gold;
    
}

.past {
    background-color: red;
}

.present {
    background-color: green;
}

.future {
    background-color: yellow;
}



